
<%- include('partials/header') %> 
<link rel="stylesheet" href="/css/home.css">
<%- include('partials/nav') %> 
<main>
    <section class="cover">
        <div class="text">
            <h1>Hi, I am Salman</h1>
            <p>I am web devloper and web programmer . I am very passionate about my work </p>
        </div>
        <img src="/image/cover.png" alt="cover">
    </section>
</main>
<%- include('partials/footer') %> 
