
<%- include('partials/header') %> 
<link rel="stylesheet" href="/css/home.css">
<%- include('partials/nav') %> 
<main>
    <section class="cover">
        <div class="text">
            <h1>Hi, I am Salman</h1>
            <p>I am web devloper and web programmer . I am very passionate about my work. And I am doing this for years. I choose this carrer because in simple I love coding. I never feel bore doing it. and I also like to solve problems.</p>
            <a class="project" href="/projects">Projects</a>
            <a class="contact" href="/contact">Contact Me</a>
        </div>
        <img src="/image/cover.png" alt="cover">
    </section>
    <section class="skills">
        <h1>My skill set includes</h1>
        <div class="container">
            <div class="box">
                <img src="" alt="html">
                <p>HTML5</p>
            </div>
        </div>
    </section>
</main>
<%- include('partials/footer') %> 
