
<%- include('partials/header') %> 

<%- include('partials/nav') %> 
<main>
    <section class="cover">
        <div class="text">
            <h1>Hi, I am Salman</h1>
            <p>I am web devloper and programmer .  </p>
        </div>
    </section>
</main>
<%- include('partials/footer') %> 
