.cover{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
    font-size: 1.1rem;
}
.cover img{
    width: 30vw;
}
.cover .text{
    padding: 50px;
}
.cover p{
    line-height: 30px;
}
.cover a{
    --btn-clr:black;
    --btn-hover:white;
    text-decoration: none;
    color: var(--btn-clr);
    border: 2px solid var(--btn-clr);
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
}
.cover a:hover{
background-color:var(--btn-clr);
color: var(--btn-hover) ;
}
.cover .project{
    --btn-clr:rgb(10, 141, 218);
}