*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header img{
    display: inline-block;
    width: 50px;
    margin: 0 10px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: linear-gradient(hsl(240, 100%, 70%), hsl(240, 100%, 60%));
    color: white;
}
.logo{
    display: flex;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
}
nav a{
    padding: 0 10px;
    text-decoration: none;
    color: rgb(173, 173, 173);
}
nav a:hover{
 border-bottom: 1px white solid;
 color: white;
}
